body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(155, 90, 216);
}

#upper-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#convert-btn {
  margin: 10px;
}
